{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "importOrder": [
    "react",
    "^antd(.*)$",
    "^@mui/(.*)$",
    "^@ui/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}